*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f2f4f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.input-box{
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    padding: 8px 15px;
    background-color: #4a6cf7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #3b5be3;
}
ul{
    list-style: none;
    margin-top: 20px;
}
li{
    background-color: #f2f4f8;
    padding: 8px;
    border-radius:5px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-btn{
    background-color: red;
    padding: 4px 8px;
    font-size: 12px;
}